@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;

  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  overflow: hidden;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
}

header h1 {
  margin-left: 24px;
}

main {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 60px - 48px - 16px);
  margin: 8px;
}

main .left,
main .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: inherit;
  width: calc(100vw / 2);
}

main .left .dropzone {
  display: flex;
  align-items: center;
  justify-content: center;

  width: calc(100vw / 2 - 28px);
  height: calc(100vh - 60px - 48px - 16px - 55px);

  border: 2px blue dashed;
  border-radius: 4px;
}

main .left .dropzone:hover {
  border-color: red;
}

main .left label:hover {
  cursor: pointer;
}

main .left .name-viewer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .left .name-viewer_container .filename {
  margin-top: 8px;
  margin-bottom: 6px;
}

main .left .viewer-container {
  width: calc(100vw / 2 - 60px);
  height: calc(100vh - 60px - 48px - 100px - 16px);
  overflow: auto;
}

main .right .formfields {
  width: calc(100vw / 2 - 28px);
  height: calc(100vh - 60px - 48px - 48px - 23px);

  border: 2px lightslategray solid;
  border-radius: 4px;
}

main .right .formfields .formfields_no-entries {
  display: flex;
  align-items: center;
  justify-content: center;

  width: inherit;
  height: inherit;
}

main .left .pdf-tabs,
main .right .pdf-tabs,
main .right .formfields .formfields_entries {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  width: inherit;
  height: inherit;
}

.tab {
  background: #eee;
  border-right: 1px solid #ccc;
  overflow: hidden;
}

.tab button {
  background: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background: #ddd;
}

.selected {
  background: #b1cae2 !important;
}

.tabcontent-pdfs,
.tabcontent-fields,
.tabcontent-pdfs-fields,
.tabcontent-pdf_left,
.tabcontent-pdf_right,
.tabcontent-diff {
  overflow: auto;
  height: inherit;
  width: calc(100vw / 2 - 60px);

  padding: 6px 12px;
  border-top: 1px solid #ccc;
}

.tabcontent-pdfs,
.tabcontent-fields,
.tabcontent-pdfs-fields {
  width: calc(100vw / 2 - 24px);
  padding: 6px 0 0 0;
}

.tabcontent-diff {
  width: calc(100vw / 2 - 50px);
  padding: 8px 12px 8px 8px;
}

ul {
  padding-bottom: 4px;
}

.page-list_item {
  font-weight: 900;
  font-size: larger;
}

.no-entry_item {
  font-style: italic;
  font-size: medium !important;
  font-weight: normal !important;
}

.entry_item {
  font-size: medium !important;
  font-weight: normal !important;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
}

footer a {
  margin-left: 12px;
}

.footer-anchor {
  display: flex;
  text-decoration: none;
  color: var(--white-color);
  outline: none;
}
.footer-anchor:hover,
.footer-anchor:focus {
  text-decoration: underline;
  cursor: pointer;
}
.footer-anchor:visited {
  color: var(--white-color);
}
.footer-icon {
  margin-left: 8px;
  margin-right: 12px;
}

.active {
  display: flex !important;
}

.hidden {
  display: none !important;
}
